button {
    background-color: #67c1d8;
    border: solid black 1px;
    border-radius: 5px;
    padding: 0.25em;
    margin: 10px;
}

button:hover {
    background-color: #777777;
    color: white;
}
h4 {
    background-color: #a9a9a9;
}

table {
    margin: 10px;
}

thead {
    color: #67c1d8;
}

.navbar {
    background-color: #67c1d8;
    padding-left: 10px;
}

.form-control-rounded {
    border-radius: 5px;
    border-color: #67c1d8;
    padding: 0.25em;
}

.btn-rounded {
    border-radius: 5px;
    padding: 0.25em;
}

.sr-only {
    color: #fff333;
}

.p {
    margin: 10px 40px 40px 10px;
}

#phead {
    margin: 10px 0px 0px 10px;
}

.dropdown-item:hover {
    background-color: #67c1d8;
    color: #ffffff;
}

.modalbtn {
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    padding: 0.25em 1em 0.25em 1em;
}
